.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:black; 
    color: #fff;
    padding: 20px;
    z-index: 1000;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 35px;
  }
  .page-title {
    /* Propriedades de estilo aqui */
    font-size: 24px;
    color: #ca1414;
    /* Outras propriedades de estilo conforme necessário */
}



  
  .links-nav {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 200px;
  }
  
  .links-nav li {
    margin-left: 120px; 
  }
  
  .links-nav li:first-child {
    margin-left: 0; 
  }
  
  .links-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
  }
  
  .links-nav li a:hover {
    text-decoration: underline; 
  }
  

