.about {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.about-paragrafo p {
    text-align: center; 
    text-indent: 20px; 
    font-size: 30px;
    color: #FFF;
    margin-top:350px;
}
