.home-container {
    border: 5px solid #747171;
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px); 
    box-sizing: border-box;
    margin: 20px; 
    background-image: url("img/background-img.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    transition: opacity 0.5s ease-in-out; 

}

.name {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 100px;
    color: rgb(99, 95, 95);
    margin: 0;
    padding: 0;
    margin-left: 200px;
}

.stack {
    color: #464141;
    font-size: 45px;
    margin-left: 20rem;
}

#link-home {
    margin-top: 20px; 
    margin-right: 100px;
    padding: 10px; 
    text-align: right; 
}

#link-home li {
    display: inline; 
    margin-right: 10px; 
}

#link-home li a {
    color: #645c5c;
    margin-right: 100px; 
    font-size: 25px;
    font-style: italic;
    text-decoration: none; 
}

.logo-github {
    position: absolute; 
    top: 270px; 
    right: 40px; 
}

.logo-github img {
    filter: invert(100%);
    width: 80px;
}

.logo-linkedin {
    position: absolute; 
    top: 350px; 
    right: 30px; 
}

.logo-linkedin img {
    filter: invert(100%); 
    width: 100px;
}
.logo-csharp {
    position: absolute;
    top: 810px; 
    right: 150px; 
}
.logo-csharp img {
    width: 60px;
}


.logo-react {
    position: absolute;
    top: 815px;
    right: 220px; 
}

.logo-react img {
    width: 55px;
}

.logo-js {
    position: absolute;
    top: 815px;
    right: 300px; 
}

.logo-js img {
    width: 50px;
}
